<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Finch</string>
    <key>CFBundleDisplayName</key>
    <string>Finch</string>
    <key>CFBundleIdentifier</key>
    <string>org.Finch</string>
    <key>CFBundleVersion</key>
    <string>__VERSION__</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Finch</string>
    <key>CFBundleIconFile</key>
    <string>Finch.icns</string>
</dict>
</plist>