[Unit]
Description=finch daemon
Documentation=https://runfinch.com
After=network.target local-fs.target containerd.service finch.socket
Wants=network.target containerd.service
Requires=finch.socket

[Service]
ExecStart=echo
Type=notify
Delegate=yes
Restart=always
RestartSec=5
Environment=BUILDKIT_HOST=unix:///var/lib/finch/buildkit/buildkitd.sock
Environment=NERDCTL_TOML=/etc/finch/nerdctl/nerdctl.toml

[Install]
WantedBy=multi-user.target
