[Unit]
Description=Socket for finch daemon

[Socket]
ListenStream=/run/finch.sock
SocketMode=0660
SocketUser=root
SocketGroup=root

[Install]
WantedBy=sockets.target
