Source: runfinch-finch
Section: devel
Priority: optional
Maintainer: AWS finch-package-maintainers@amazon.com
Build-Depends: debhelper (>= 13)
Homepage: https://runfinch.com
Package: runfinch-finch
Architecture: ${ARCH}
Depends: containerd (>= 1.7.24), runc (>=1.1.5)
Description: https://github.com/runfinch/finch
