name: Build, test and upload .deb to S3

on:
  workflow_dispatch:
    inputs:
      ref_name:
        description: "name of git ref for which to build installer"
        required: true
        type: string
  workflow_call:
    inputs:
      ref_name:
        description: "the ref (tag/branch) to use to extract tag/version"
        required: true
        type: string
      version:
        description: "override for version, will be used instead of ref if set, used for testing"
        required: false
        type: string
  schedule:
    - cron: '0 9 * * *'
env:
  GO111MODULE: on
  GO_VERSION: '1.24.11'

permissions:
  # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
  # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
  id-token: write
  contents: read    # This is required for actions/checkout

jobs:
  get-tag-name:
    name: Get tag name
    uses: ./.github/workflows/get-version-and-tag-for-ref.yaml
    with:
      ref_name: ${{ inputs.ref_name }}
      version: ${{ inputs.version }}

  ubuntu-deb-build-and-test:
    needs: get-tag-name
    strategy:
      fail-fast: false
      matrix:
        arch: ['x86_64', 'arm64']
        include:
          - arch: 'x86_64'
            output-arch: 'amd64'
          - arch: 'arm64'
            output-arch: 'arm64'
    runs-on: codebuild-finch-${{ matrix.arch }}-2-instance-${{ github.run_id }}-${{ github.run_attempt }}
    timeout-minutes: 60
    steps:
        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
          with:
            role-to-assume: ${{ secrets.DEB_ROLE_PROD }}
            role-session-name: ubuntu-deb
            aws-region: us-west-2
        - name: Clean ubuntu runner workspace
          run: |
            rm -rf ${{ github.workspace }}/*
        - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          with:
            ref: ${{ needs.get-tag-name.outputs.tag }}
            fetch-depth: 0
            persist-credentials: false
            submodules: true
        - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
          with:
            go-version: ${{ env.GO_VERSION }}
            cache: false
        - name: Install dependencies
          run: |
            sudo apt install build-essential -y
            sudo apt install libseccomp-dev -y
            sudo apt install pkg-config -y
            sudo apt install zlib1g-dev -y
        - name: Build for Ubuntu ${{ matrix.output-arch }}
          run: |
            make
        - name: Generate deb
          run: |
            ./contrib/packaging/deb/package.sh --${{ matrix.output-arch }} --version ${{ needs.get-tag-name.outputs.version }}
        - name: Install Finch
          run: |
            sudo apt install ./_output/deb/runfinch-finch_${{ needs.get-tag-name.outputs.version }}_${{ matrix.output-arch }}.deb -y
            sudo systemctl daemon-reload
            sudo systemctl start containerd.service
            sudo systemctl restart finch.socket
            sudo systemctl start finch.service
            sudo systemctl start finch-buildkit.service
            sudo systemctl start finch-soci.service
        - name: Run e2e tests
          run: |
              git status
              git clean -f -d
              eval $(ssh-agent)
              sudo -E env "PATH=$PATH" INSTALLED=true make test-e2e-container
              sudo -E env "PATH=$PATH" INSTALLED=true make test-e2e-vm
        - name: Clean Up Previous Environment
          if: ${{ always() }}
          timeout-minutes: 2
          run: |
            sudo apt remove runfinch-finch -y
            sudo apt remove build-essential -y
            sudo apt remove libseccomp-dev -y
            sudo apt remove pkg-config -y
            sudo apt remove zlib1g-dev -y
        - name: Upload deb to S3
          run: |
            aws s3 cp ./_output/deb s3://${{ secrets.DEB_PRIVATE_BUCKET_NAME_UNSIGNED_PROD }}/ --recursive --exclude "*" --include "runfinch-finch_${{ needs.get-tag-name.outputs.version }}_${{ matrix.output-arch }}.deb"
            aws s3 cp ./contrib/packaging/deb/Release s3://${{ secrets.DEB_PRIVATE_BUCKET_NAME_UNSIGNED_PROD }}/
