name: Build, test and upload .pkg to S3

# The scheduler runs at 9 am UTC every day.
on:
  workflow_dispatch:
    inputs:
      ref_name:
        description: "the ref (tag/branch) to use to extract tag/version"
        required: true
        type: string
  workflow_call:
    inputs:
      ref_name:
        description: "the ref (tag/branch) to use to extract tag/version"
        required: true
        type: string
      version:
        description: "override for version, will be used instead of ref if set, used for testing"
        required: false
        type: string
  schedule:
    - cron: '0 9 * * *'
env:
  GO111MODULE: on

permissions:
  # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
  # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
  id-token: write
  # This is required for actions/checkout
  contents: read

jobs:
  get-tag-name:
    name: Get tag name
    uses: ./.github/workflows/get-version-and-tag-for-ref.yaml
    with:
      ref_name: ${{ inputs.ref_name }}
      version: ${{ inputs.version }}

  macos-aarch64-pkg-build:
    needs: get-tag-name
    uses: ./.github/workflows/build-pkg.yaml
    permissions:
      # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
      # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
      id-token: write
      # This is required for actions/checkout
      contents: read
    secrets: inherit
    with:
      os: macos
      arch: arm64
      output_arch: aarch64
      version: 14
      tag: ${{ needs.get-tag-name.outputs.tag }}
      finch_version: ${{ needs.get-tag-name.outputs.version }}

  macos-x86-64-pkg-build:
    needs: get-tag-name
    uses: ./.github/workflows/build-pkg.yaml
    permissions:
      # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
      # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
      id-token: write
      # This is required for actions/checkout
      contents: read
    secrets: inherit
    with:
      os: macos
      arch: amd64
      output_arch: x86_64
      version: 14
      tag: ${{ needs.get-tag-name.outputs.tag }}
      finch_version: ${{ needs.get-tag-name.outputs.version }}

  macos-aarch64-pkg-test:
    strategy:
      fail-fast: false
      matrix:
        version: [15, 14]
    needs:
      - get-tag-name
      - macos-aarch64-pkg-build
    uses: ./.github/workflows/test-pkg.yaml
    permissions:
      # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
      # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
      id-token: write
      # This is required for actions/checkout
      contents: read
    secrets: inherit
    with:
      os: macos
      arch: arm64
      output_arch: aarch64
      version: ${{ matrix.version }}
      tag: ${{ needs.get-tag-name.outputs.tag }}
      finch_version: ${{ needs.get-tag-name.outputs.version }}

  macos-x86-64-pkg-test:
    strategy:
      fail-fast: false
      matrix:
        version: [15, 14]
    needs:
      - get-tag-name
      - macos-x86-64-pkg-build
    uses: ./.github/workflows/test-pkg.yaml
    permissions:
      # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
      # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
      id-token: write
      # This is required for actions/checkout
      contents: read
    secrets: inherit
    with:
      os: macos
      arch: amd64
      output_arch: x86_64
      version: ${{ matrix.version }}
      tag: ${{ needs.get-tag-name.outputs.tag }}
      finch_version: ${{ needs.get-tag-name.outputs.version }}
