# This file is created according to
# https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks
# As a result, the set of jobs in this file should be equal to that in ci.yaml.
name: CI
on:
  push:
    branches:
      - main
    paths:
      - '**.md'
  pull_request:
    branches:
      - main
    paths:
      - '**.md'

jobs:
  gen-code-no-diff:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs"
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs"
  go-linter:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs"
  go-mod-tidy-check:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs"
  check-licenses:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs"
  e2e-tests:
    strategy:
      matrix:
        os: [[self-hosted, macos, amd64, 11.7], [self-hosted, macos, amd64, 12.6], [self-hosted, macos, arm64, 11.7], [self-hosted, macos, arm64, 12.6]]
    runs-on: ${{ matrix.os }} 
    steps:
      - run: echo "Skipping CI for docs"
  mdlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: avto-dev/markdown-lint@v1
        with:
          args: '**/*.md'
          # CHANGELOG.md is only updated by release-please bot.
          ignore: 'CHANGELOG.md'
