# This file is created according to
# https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks
# As a result, the set of jobs in this file should be equal to that in ci.yaml.
#
# Note that if a PR contains changes of both markdown files and non-markdown files,
# there'll be twins for each check (e.g., https://github.com/runfinch/finch/pull/88).
# However, due to GitHub's logic, even though the one from ci-docs.yaml passes,
# the one from ci.yaml still has to pass for the PR to be merged,
# so it functionally works, while it's visually confusing.
name: CI
on:
  push:
    branches:
      - main
    paths:
      - '**.md'
      - 'contrib/**'
      - '!contrib/packaging/**'
      - 'docs/**'
      - 'installer-builder/**'
      - 'scripts/**'
      - 'msi-builder/**'
      - '.github/**'
      - '!.github/workflows/e2e-macos.yaml'
      - '!.github/workflows/e2e-windows.yaml'
      - '!.github/workflows/e2e-linux.yaml'
  pull_request:
    branches:
      - main
    paths:
      - '**.md'
      - 'contrib/**'
      - '!contrib/packaging/**'
      - 'docs/**'
      - 'installer-builder/**'
      - 'scripts/**'
      - 'msi-builder/**'
      - '.github/**'
      - '!.github/workflows/e2e-macos.yaml'
      - '!.github/workflows/e2e-windows.yaml'
      - '!.github/workflows/e2e-linux.yaml'

permissions:
  contents: read

jobs:
  git-secrets:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 2
    steps:
      - name: Pull latest awslabs/git-secrets repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: awslabs/git-secrets
          ref: 1.3.0
          fetch-tags: true
          path: git-secrets
      - name: Install git secrets from source
        run: sudo make install
        working-directory: git-secrets
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Scan repository for git secrets
        run: |
          git secrets --register-aws
          git secrets --scan-history

  gen-code-no-diff:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    timeout-minutes: 2
    steps:
      - run: echo "Skipping CI for docs & contrib files"
  unit-tests:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    timeout-minutes: 2
    steps:
      - run: echo "Skipping CI for docs & contrib files"
  # Run the linter in case of workflow-only changes to our testing process
  go-linter:
    uses: ./.github/workflows/go-linter.yaml
  go-mod-tidy-check:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    permissions:
      contents: read
    steps:
      - run: echo "Skipping CI for docs & contrib files"
  check-licenses:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    permissions:
      contents: read
    steps:
      - run: echo "Skipping CI for docs & contrib files"
  macos-e2e-tests:
    strategy:
      matrix:
        version: ['13', '14']
        test-command: ['test-e2e-vm-serial', 'test-e2e-container']
        arch: ['X64', 'arm64']
        runner-type: ['test']
    uses: ./.github/workflows/e2e-docs.yaml
    permissions:
      contents: read
  windows-e2e-tests:
    strategy:
      matrix:
        test-command: ['test-e2e-vm-serial', 'test-e2e-container']
        arch: ['amd64']
        runner-type: ['test']
    uses: ./.github/workflows/e2e-docs.yaml
    permissions:
      contents: read
  linux-e2e-tests:
    strategy:
      matrix:
        os: ['amazonlinux']
        arch: ['X64', 'arm64']
        version: ['2023', '2']
        runner-type: ['test']
    uses: ./.github/workflows/e2e-docs.yaml
    permissions:
      contents: read
  mdlint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: avto-dev/markdown-lint@04d43ee9191307b50935a753da3b775ab695eceb # v1.5.0
        with:
          args: '**/*.md'
          # CHANGELOG.md is only updated by release-please bot.
          ignore: 'CHANGELOG.md'
