# This file is created according to
# https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks
# As a result, the set of jobs in this file should be equal to that in ci.yaml.
#
# Note that if a PR contains changes of both markdown files and non-markdown files,
# there'll be twins for each check (e.g., https://github.com/runfinch/finch/pull/88).
# However, due to GitHub's logic, even though the one from ci-docs.yaml passes,
# the one from ci.yaml still has to pass for the PR to be merged,
# so it functionally works, while it's visually confusing.
name: CI
on:
  push:
    branches:
      - main
    paths:
      - '**.md'
      - 'contrib/**'
      - '.github/CODEOWNERS'
  pull_request:
    paths:
      - '**.md'
      - 'contrib/**'
      - '!contrib/packaging/**'
      - '.github/CODEOWNERS'

jobs:
  git-secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Pull latest awslabs/git-secrets repo
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
           repository: awslabs/git-secrets
           ref: 1.3.0
           fetch-tags: true
           path: git-secrets
      - name: Install git secrets from source
        run: sudo make install
        working-directory: git-secrets
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Scan repository for git secrets
        run: |
          git secrets --register-aws
          git secrets --scan-history

  gen-code-no-diff:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - run: echo "Skipping CI for docs & contrib files"
  unit-tests:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - run: echo "Skipping CI for docs & contrib files"
  go-linter:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs & contrib files"
  go-mod-tidy-check:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs & contrib files"
  check-licenses:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs & contrib files"
  e2e-tests:
    strategy:
      matrix:
        os:
          [
            [self-hosted, macos, amd64, 13, test],
            [self-hosted, macos, amd64, 14, test],
            [self-hosted, macos, arm64, 13, test],
            [self-hosted, macos, arm64, 14, test],
          ]
        test-command: ['test-e2e-vm-serial', 'test-e2e-container']
    runs-on: ${{ matrix.os }}
    steps:
      - run: echo "Skipping CI for docs & contrib files"
  windows-e2e-tests:
    strategy:
      matrix:
        os: [[self-hosted, windows, amd64, test]]
        test-command: ['test-e2e-vm-serial', 'test-e2e-container']
    runs-on: ${{ matrix.os }}
    steps:
      - run: echo "Skipping CI for docs & contrib files"
  mdlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: avto-dev/markdown-lint@04d43ee9191307b50935a753da3b775ab695eceb # v1.5.0
        with:
          args: '**/*.md'
          # CHANGELOG.md is only updated by release-please bot.
          ignore: 'CHANGELOG.md'
