# This file is created to address the issue described in
# https://stackoverflow.com/questions/66751567/return-passing-status-on-github-workflow-when-using-paths-ignore.
name: CI
on:
  push:
    branches:
      - main
    paths:
      - '**.md'
  pull_request:
    branches:
      - main
    paths:
      - '**.md'

jobs:
  gen-code-no-diff:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs"
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs"
  go-linter:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs"
  go-mod-tidy-check:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs"
  check-licenses:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skipping CI for docs"
  e2e-tests:
    strategy:
      matrix:
        os: [[self-hosted, macos, amd64, 11.7], [self-hosted, macos, amd64, 12.6], [self-hosted, macos, arm64, 11.7], [self-hosted, macos, arm64, 12.6]]
    runs-on: ${{ matrix.os }} 
    steps:
      - run: echo "Skipping CI for docs"
