# - When a third-party action is added (i.e., `uses`), please also add it to `download-licenses` in Makefile.
# - The set of jobs in this file should be equal to that in ci-docs.yaml.
name: CI
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  gen-code-no-diff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true
      - run: make gen-code
      - run: git diff --exit-code
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          # Since this repository is not meant to be used as a library,
          # we don't need to test the latest 2 major releases like Go does: https://go.dev/doc/devel/release#policy.
          go-version-file: go.mod
          cache: true
      - run: make test-unit
  # It's recommended to run golangci-lint in a job separate from other jobs (go test, etc) because different jobs run in parallel.
  go-linter:
    runs-on: ubuntu-latest
    # TODO: Remove this when we make the repos public.
    env:
      GOPRIVATE: github.com/runfinch/common-tests
      ACCESS_TOKEN: ${{ secrets.FINCH_BOT_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true
      # TODO: Remove this when we make the repos public.
      - run: git config --global url.https://$ACCESS_TOKEN@github.com/.insteadOf https://github.com/
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Pin the version in case all the builds start to fail at the same time.
          # There may not be an automatic way (e.g., dependabot) to update a specific parameter of a Github Action,
          # so we will just update it manually whenever it makes sense (e.g., a feature that we want is added).
          version: v1.50.0
          args: --fix=false
  go-mod-tidy-check:
    runs-on: ubuntu-latest
    # TODO: Remove this when we make the repos public.
    env:
      GOPRIVATE: github.com/runfinch/common-tests
      ACCESS_TOKEN: ${{ secrets.FINCH_BOT_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true
      # TODO: Remove this when we make the repos public.
      - run: git config --global url.https://$ACCESS_TOKEN@github.com/.insteadOf https://github.com/
      # TODO: Use `go mod tidy --check` after https://github.com/golang/go/issues/27005 is fixed.
      - run: go mod tidy
      - run: git diff --exit-code
  check-licenses:
    runs-on: ubuntu-latest
    # TODO: Remove this when we make the repos public.
    env:
      GOPRIVATE: github.com/runfinch/common-tests
      ACCESS_TOKEN: ${{ secrets.FINCH_BOT_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true
      # TODO: Remove this when we make the repos public.
      - run: git config --global url.https://$ACCESS_TOKEN@github.com/.insteadOf https://github.com/
      - run: make check-licenses
  e2e-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [[self-hosted, macos, amd64, 11.7], [self-hosted, macos, amd64, 12.6], [self-hosted, macos, arm64, 11.7], [self-hosted, macos, arm64, 12.6]]
    runs-on: ${{ matrix.os }} 
    # TODO: Remove this when we make the repos public
    env:
      ACCESS_TOKEN: ${{ secrets.FINCH_BOT_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - name: Clean up previous files
        run: |
          sudo rm -rf /opt/finch
          sudo rm -rf ~/.finch
      - run: brew install go lz4 automake autoconf libtool 
      - name: Build project
        run: |
          export PATH="/opt/homebrew/opt/libtool/libexec/gnubin:$PATH"
          which libtool
          make
      # TODO: Remove this when we make the repos public
      - name: Configure repo access
        run: git config --global url.https://$ACCESS_TOKEN@github.com/.insteadOf https://github.com/
      - run: make test-e2e
