name: e2e-linux
on:
  workflow_call:
    inputs:
      os:
        type: string
        required: true
      arch:
        type: string
        required: true
      version:
        type: string
        required: true
      runner-type:
        type: string
        required: true

permissions:
  # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
  # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
  id-token: write
  # This is required for actions/checkout
  contents: read

jobs:
  test:
    runs-on:
      [
        "self-hosted",
        "${{ inputs.os }}",
        "${{ inputs.arch }}",
        "${{ inputs.version }}",
        "${{ inputs.runner-type }}",
      ]
    outputs:
      vars: ${{ steps.vars.outputs.has_creds}}
      vm_report: ${{ steps.set-multiple-vars.outputs.VM_REPORT }}
      container_report: ${{ steps.set-multiple-vars.outputs.CONTAINER_REPORT }}
      vm_serial_report: ${{ steps.set-multiple-vars.outputs.VM_SERIAL_REPORT }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        # checkout uses node version 20, which doesn't run on AL2
        if: ${{ ! (startsWith(inputs.os, 'amazon') && inputs.version == '2' ) }}
        with:
          # We need to get all the git tags to make version injection work. See VERSION in Makefile for more detail.
          fetch-depth: 0
          persist-credentials: false
          submodules: recursive
      - name: Check repo out manually
        if: ${{ (startsWith(inputs.os, 'amazon') && inputs.version == '2' ) }}
        run: |
          git clone https://github.com/${GITHUB_REPOSITORY}.git .
          if [ "$GITHUB_EVENT_NAME" == "pull_request" ]; then
            git config --add remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
            git config --add remote.origin.fetch "+refs/tags/*:refs/tags/*"
            git config --add remote.origin.fetch "+${GITHUB_SHA}:${GITHUB_REF}"
          fi
          git fetch --prune origin
          git checkout ${GITHUB_SHA}
      - name: Set output variables
        id: vars
        run: |
          has_creds=${{ (github.event_name == 'push' || github.repository == github.event.pull_request.head.repo.full_name) && github.actor != 'dependabot[bot]' }}
          echo "has_creds=$has_creds" >> $GITHUB_OUTPUT
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        # this action requires node20, skip on AL2
        if: ${{ steps.vars.outputs.has_creds == 'true' && (!(startsWith(inputs.os, 'amazon') && inputs.version == '2' ))}}
        with:
          role-to-assume: ${{ secrets.ROLE }}
          role-session-name: credhelper-test
          aws-region: ${{ secrets.REGION }}
      - name: Clean up previous files
        if: always()
        run: |
          sudo systemctl stop finch.service || true
          sudo systemctl stop finch-buildkit.service || true
          sudo systemctl stop finch-soci.service || true
          sudo sudo rpm -e runfinch-finch || true
          sudo systemctl stop containerd.service
          sudo systemctl daemon-reload
          sudo rm -rf /etc/finch
          sudo rm -rf /var/lib/finch
          sudo rm -rf /var/lib/containerd
          sudo rm -rf /var/soci-snapshotter
          sudo rm -rf ./_output
      - name: Build project
        run: |
          ./contrib/packaging/rpm/build.sh --local
      - name: Install Finch
        run: |
          sudo rpm -i ./_output/packages/$(ls -t ./_output/packages/ | grep runfinch-finch | head -1)
          sudo systemctl daemon-reload
          sudo systemctl start containerd.service
          sudo systemctl start finch.service
          sudo systemctl start finch-buildkit.service
          sudo systemctl start finch-soci.service
      - name: Set up REPORT_DIR
        run: |
          echo "REPORT_DIR=${{ github.workspace }}/reports" >> $GITHUB_ENV
      - name: Run e2e tests
        run: |
          git status
          git clean -f -d
          # required by one of the tests which uses SSH_AUTH_SOCK
          eval "$(ssh-agent -s)"
          INSTALLED=true REGISTRY=${{ steps.vars.outputs.has_creds == true && env.REGISTRY || '' }} sudo -E make test-e2e-container
          INSTALLED=true REGISTRY=${{ steps.vars.outputs.has_creds == true && env.REGISTRY || '' }} sudo -E make test-e2e-vm
      - name: Change ownership of reports
        if: always()
        run: |
          if [ ! -d "$REPORT_DIR" ]; then
            echo "Error: Directory $REPORT_DIR does not exist."
            exit 1
          fi

          USER=$(whoami)
          GROUP=$(id -gn)

          if sudo chown -R "$USER:$GROUP" "$REPORT_DIR"; then
            echo "Ownership of $REPORT_DIR changed to $USER:$GROUP"
          else
            echo "Error: Failed to change ownership of $REPORT_DIR"
            exit 1
          fi
      - name: Set artifacts name outputs
        if: ${{ steps.vars.outputs.has_creds == 'true' && (!(startsWith(inputs.os, 'amazon') && inputs.version == '2' ))}}
        id: set-multiple-vars
        run: |
          echo "VM_REPORT=${{ github.run_id }}-${{ github.run_attempt }}-e2e-vm-report.json" >> $GITHUB_OUTPUT
          echo "CONTAINER_REPORT=${{ github.run_id }}-${{ github.run_attempt }}-e2e-container-report.json" >> $GITHUB_OUTPUT
          echo "VM_SERIAL_REPORT=${{ github.run_id }}-${{ github.run_attempt }}-e2e-vm-serial-report.json" >> $GITHUB_OUTPUT
      - name: Upload reports artifact
        if: ${{ steps.vars.outputs.has_creds == 'true' && (!(startsWith(inputs.os, 'amazon') && inputs.version == '2' ))}}
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        with:
          name: linux-${{ inputs.version }}-${{ inputs.test-command }}-${{ inputs.arch }}-${{ github.run_id }}-${{ github.run_attempt }}-e2e-reports
          path: ${{ github.workspace }}/reports/${{ github.run_id }}-${{ github.run_attempt }}-*.json
      - name: Clean up repo AL2
        if: ${{ (startsWith(inputs.os, 'amazon') && inputs.version == '2' && always() ) }}
        run: |
          rm -rf "${GITHUB_WORKSPACE}"
  upload-linux-e2e-test-report:
    needs: test
    if: always()
    runs-on:
      [
        "self-hosted",
        "linux",
        "${{ inputs.arch }}",
        "${{ inputs.version }}",
        "${{ inputs.runner-type }}",
      ]
    steps:
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        if: ${{ needs.test.outputs.vars == 'true' && ((startsWith(inputs.os, 'amazon') && inputs.version != '2' )) && github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true }}
        with:
          role-to-assume: ${{ secrets.ROLE }}
          role-session-name: credhelper-test
          aws-region: ${{ secrets.REGION }}
      - name: download artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.08
        if: ${{ needs.test.outputs.vars == 'true' && ((startsWith(inputs.os, 'amazon') && inputs.version != '2' )) && github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true }}
        with:
          name: linux-${{ inputs.version }}-${{ inputs.test-command }}-${{ inputs.arch }}-${{ github.run_id }}-${{ github.run_attempt }}-e2e-reports
          path: linux-${{ inputs.version }}-${{ inputs.test-command }}-${{ inputs.arch }}-${{ github.run_id }}-${{ github.run_attempt }}-e2e-reports
      - name: Display structure of downloaded files
        if: ${{ needs.test.outputs.vars == 'true' && ((startsWith(inputs.os, 'amazon') && inputs.version != '2' )) && github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true }}
        run: ls -R linux-${{ inputs.version }}-${{ inputs.test-command }}-${{ inputs.arch }}-${{ github.run_id }}-${{ github.run_attempt }}-e2e-reports
      - name: Check and upload e2e tests reports to s3 bucket
        if: ${{ needs.test.outputs.vars == 'true' && ((startsWith(inputs.os, 'amazon') && inputs.version != '2' )) && github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true }}
        run: |
          VM_REPORT="${{ github.workspace }}/linux-${{ inputs.version }}-${{ inputs.test-command }}-${{ inputs.arch }}-${{ github.run_id }}-${{ github.run_attempt }}-e2e-reports/${{ github.run_id }}-${{ github.run_attempt }}-e2e-vm-report.json"
          CONTAINER_REPORT="${{ github.workspace }}/linux-${{ inputs.version }}-${{ inputs.test-command }}-${{ inputs.arch }}-${{ github.run_id }}-${{ github.run_attempt }}-e2e-reports/${{ github.run_id }}-${{ github.run_attempt }}-e2e-container-report.json"
          VM_SERIAL_REPORT="${{ github.workspace }}/linux-${{ inputs.version }}-${{ inputs.test-command }}-${{ inputs.arch }}-${{ github.run_id }}-${{ github.run_attempt }}-e2e-reports/${{ github.run_id }}-${{ github.run_attempt }}-e2e-vm-serial-report.json"

          if [ -f "$VM_REPORT" ]; then
            echo "VM report file exists. Uploading to S3..."
            aws s3 cp "$VM_REPORT" "s3://finch-e2e-test-log-reports/linux-${{ inputs.arch }}/${{ needs.test.outputs.vm_report }}"
            echo "VM report uploaded successfully."
          else
            echo "VM report file does not exist. Skipping upload."
          fi

          if [ -f "$CONTAINER_REPORT" ]; then
            echo "Container report file exists. Uploading to S3..."
            aws s3 cp "$CONTAINER_REPORT" "s3://finch-e2e-test-log-reports/linux-${{ inputs.arch }}/${{ needs.test.outputs.container_report }}"
            echo "Container report uploaded successfully."
          else
            echo "Container report file does not exist. Skipping upload."
          fi

          if [ -f "$VM_SERIAL_REPORT" ]; then
            echo "VM serial report file exists. Uploading to S3..."
            aws s3 cp "$VM_SERIAL_REPORT" "s3://finch-e2e-test-log-reports/linux-${{ inputs.arch }}/${{ needs.test.outputs.vm_serial_report }}"
            echo "VM serial report uploaded successfully."
          else
            echo "VM serial report file does not exist. Skipping upload."
          fi
