name: e2e-linux
on:
  workflow_call:
    inputs:
      os:
        type: string
        required: true
      arch:
        type: string
        required: true
      version:
        type: string
        required: true
      runner-type:
        type: string
        required: true

permissions:
  # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
  # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
  id-token: write
  # This is required for actions/checkout
  contents: read

env:
  GO_VERSION: '1.24.11'

jobs:
  test:
    runs-on:
      [
        "self-hosted",
        "${{ inputs.os }}",
        "${{ inputs.arch }}",
        "${{ inputs.version }}",
        "${{ inputs.runner-type }}",
      ]
    timeout-minutes: 60
    env:
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: 'true'
    outputs:
      has_creds: ${{ steps.vars.outputs.has_creds}}
      vm_report: ${{ steps.set-multiple-vars.outputs.VM_REPORT }}
      container_report: ${{ steps.set-multiple-vars.outputs.CONTAINER_REPORT }}
      vm_serial_report: ${{ steps.set-multiple-vars.outputs.VM_SERIAL_REPORT }}
    steps:
      - name: Clean runner workspace
        run: |
          sudo rm -rf ${{ github.workspace }}/*
      - name: Allow Node16 on AL2
        if: ${{ (startsWith(inputs.os, 'amazon') && inputs.version == '2' ) }}
        run: |
          echo "ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION=true" >> $GITHUB_ENV
          echo "ACTIONS_RUNNER_FORCE_ACTIONS_NODE_VERSION=node16" >> $GITHUB_ENV
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # We need to get all the git tags to make version injection work. See VERSION in Makefile for more detail.
          fetch-depth: 0
          persist-credentials: false
          submodules: recursive
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
      - name: Set output variables
        id: vars
        run: |
          has_creds=${{ (github.event_name == 'push' || github.repository == github.event.pull_request.head.repo.full_name) && github.actor != 'dependabot[bot]' }}
          echo "has_creds=$has_creds" >> $GITHUB_OUTPUT
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        # this action requires node20, skip on AL2
        if: ${{ steps.vars.outputs.has_creds == 'true' && (!(startsWith(inputs.os, 'amazon') && inputs.version == '2' ))}}
        with:
          role-to-assume: ${{ secrets.ROLE }}
          role-session-name: credhelper-test
          aws-region: ${{ secrets.REGION }}
      - name: Clean up previous files
        if: always()
        run: |
          sudo systemctl stop finch.service || true
          sudo systemctl stop finch-buildkit.service || true
          sudo systemctl stop finch-soci.service || true
          sudo sudo rpm -e runfinch-finch || true
          sudo systemctl stop containerd.service
          sudo systemctl daemon-reload
          sudo rm -rf /etc/finch
          sudo rm -rf /var/lib/finch
          sudo rm -rf /var/lib/nerdctl
          sudo rm -rf /var/lib/containerd
          sudo rm -rf /var/soci-snapshotter
          sudo rm -rf ./_output
          sudo rm -rf /run/containerd || true
      - name: Build project
        run: |
          ./contrib/packaging/rpm/build.sh --local
      - name: Install Dependencies
        run: |
          sudo yum install iptables -y
      - name: Install Finch
        run: |
          sudo rpm -i ./_output/packages/$(ls -t ./_output/packages/ | grep runfinch-finch | head -1)
          
          # TODO: remove this once nerdctl v2.2.1 is released in AL
          ARCH=$(uname -m)
          case $ARCH in
            x86_64) NERDCTL_ARCH="amd64" ;;
            aarch64) NERDCTL_ARCH="arm64" ;;
          esac
          wget "https://github.com/containerd/nerdctl/releases/download/v2.2.1/nerdctl-2.2.1-linux-${NERDCTL_ARCH}.tar.gz"
          sudo tar Cxzvf /usr/local/bin nerdctl-2.2.1-linux-${NERDCTL_ARCH}.tar.gz
          rm nerdctl-2.2.1-linux-${NERDCTL_ARCH}.tar.gz
          /usr/local/bin/nerdctl --version

          sudo systemctl daemon-reload
          sudo systemctl restart containerd.service
          sudo systemctl restart finch.socket
          sudo systemctl restart finch.service
          sudo systemctl restart finch-buildkit.service
          sudo systemctl restart finch-soci.service
      - name: Set up REPORT_DIR
        run: |
          echo "REPORT_DIR=${{ github.workspace }}/reports" >> $GITHUB_ENV
      - name: Run e2e tests
        run: |
          git status
          git clean -f -d

          # required by one of the tests which uses SSH_AUTH_SOCK
          eval "$(ssh-agent -s)"

          # Preserve path so Go from actions/setup-go is used; not the system installed golang.
          sudo -E env "PATH=$PATH" INSTALLED=true REGISTRY=${{ steps.vars.outputs.has_creds == true && env.REGISTRY || '' }} make test-e2e-container
          sudo -E env "PATH=$PATH" INSTALLED=true REGISTRY=${{ steps.vars.outputs.has_creds == true && env.REGISTRY || '' }} make test-e2e-vm
          sudo -E env "PATH=/usr/libexec/finch:/usr/libexec/finch/cni/bin/:/usr/local/bin:$PATH" NERDCTL_TOML=/etc/finch/nerdctl/nerdctl.toml BUILDKIT_HOST=unix:///var/lib/finch/buildkit/buildkitd.sock  make test-e2e-daemon-linux
      - name: Change ownership of reports
        if: always()
        run: |
          if [ ! -d "$REPORT_DIR" ]; then
            echo "Error: Directory $REPORT_DIR does not exist."
            exit 1
          fi

          USER=$(whoami)
          GROUP=$(id -gn)

          if sudo chown -R "$USER:$GROUP" "$REPORT_DIR"; then
            echo "Ownership of $REPORT_DIR changed to $USER:$GROUP"
          else
            echo "Error: Failed to change ownership of $REPORT_DIR"
            exit 1
          fi
      - name: Set artifacts name outputs
        if: ${{ steps.vars.outputs.has_creds == 'true' && (!(startsWith(inputs.os, 'amazon') && inputs.version == '2' ))}}
        id: set-multiple-vars
        run: |
          echo "VM_REPORT=${{ github.run_id }}-${{ github.run_attempt }}-e2e-vm-report.json" >> $GITHUB_OUTPUT
          echo "CONTAINER_REPORT=${{ github.run_id }}-${{ github.run_attempt }}-e2e-container-report.json" >> $GITHUB_OUTPUT
          echo "VM_SERIAL_REPORT=${{ github.run_id }}-${{ github.run_attempt }}-e2e-vm-serial-report.json" >> $GITHUB_OUTPUT
      - name: Upload reports artifact
        if: ${{ steps.vars.outputs.has_creds == 'true' && (!(startsWith(inputs.os, 'amazon') && inputs.version == '2' ))}}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: linux-${{ inputs.version }}-test-e2e-${{ inputs.arch }}-${{ github.run_id }}-${{ github.run_attempt }}-e2e-reports
          path: ${{ github.workspace }}/reports/${{ github.run_id }}-${{ github.run_attempt }}-*.json

  upload-e2e-test-reports:
    needs: test
    if: always()
    uses: ./.github/workflows/upload-test-report.yaml
    secrets: inherit
    with:
      os: ${{ inputs.os }}
      arch: ${{ inputs.arch }}
      version: ${{ inputs.version }}
      test-command: "test-e2e"
      has-creds: ${{ needs.test.outputs.has_creds }}
      vm_report: ${{ needs.test.outputs.vm_report }}
      container_report: ${{ needs.test.outputs.container_report }}
      vm_serial_report: ${{ needs.test.outputs.vm_serial_report }}
