# When a third-party action is added (i.e., `uses`), please also add it to `download-licenses` in Makefile.
name: "Lint PR Title"

on:
  # TODO: Change to pull_request_target after the repo is public.
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  main:
    name: conventional-commit
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
