name: Release Finch latest version
on:
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  get-latest-tag:
    name: Get the latest release tag
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.latest-tag.outputs.tag }}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
            fetch-depth: 0
      - name: 'Get the latest tag'
        id: latest-tag
        uses: "WyriHaximus/github-action-get-previous-tag@04e848
    
  build-and-test-finch-pkg:
    needs: get-latest-tag
    uses: ./.github/workflows/build-and-test-pkg.yaml
    secrets: inherit
    with:
      ref_name: ${{ needs.get-latest-tag.outputs.tag }}

  upload-pkg-and-dependency-source-code-to-release:
    needs:
      - get-latest-tag
      - build-and-test-finch-pkg
    uses: ./.github/workflows/upload-installer-to-release.yaml
    secrets: inherit
    with
      ref_name: ${{ needs.get-latest-tag.outputs.tag }}
  
  build-and-test-finch-msi:
    needs: get-latest-tag
    uses: ./.github/workflows/build-and-test-msi.yaml
    secrets: inherit
    with:
      ref_name: ${{ needs.get-latest-tag.outputs.tag }}
  
  upload-msi-to-release:
    needs:
      - get-latest-tag
      - build-and-test-finch-msi
    uses: ./.github/workflows/upload-msi-to-release.yaml
    secrets: inherit
    with:
      ref_name: ${{ needs.get-latest-tag.outputs.tag }}
