# When a third-party action is added (i.e., `uses`), please also add it to `download-licenses` in Makefile.
on:
  push:
    branches:
      - main
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        with:
          release-type: go
          package-name: finch
          # Include 'build' in the changelog and
          # make it a releasable unit (patch version bump) because dependabot PRs uses it.
          # For more details, see ../dependabot.yml.
          #
          # The mapping from type to section comes from conventional-commit-types [1]
          # which is used by action-semantic-pull-request [2],
          # which is used by us.
          #
          # [1] https://github.com/commitizen/conventional-commit-types/blob/master/index.json
          # [2] https://github.com/amannn/action-semantic-pull-request/blob/0b14f54ac155d88e12522156e52cb6e397745cfd/README.md?plain=1#L60
          changelog-types: >
            [
              {
                "type":"feat",
                "section":"Features",
                "hidden":false
              },
              {
                "type":"fix",
                "section":"Bug Fixes",
                "hidden":false
              },
              {
                "type":"build",
                "section":"Build System or External Dependencies",
                "hidden":false
              },
              {
                "type":"expr",
                "section":"Experimental",
                "hidden":false
              }
            ]
          # Before we are at v1.0.0
          bump-minor-pre-major: true

