name: Release Finch latest version
on:
  workflow_dispatch:
  workflow_call:

jobs:
  get-latest-tag:
    name: Get the latest release tag
    runs-on: ubuntu-latest
    timeout-minutes: 2
    outputs:
      tag: ${{ steps.latest-tag.outputs.tag }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
            fetch-depth: 0
      - name: 'Get the latest tag'
        id: latest-tag
        uses: "WyriHaximus/github-action-get-previous-tag@04e8485ecb6487243907e330d522ff60f02283ce" # v1.4.0
    
  build-and-test-finch-pkg:
    needs: get-latest-tag
    uses: ./.github/workflows/build-and-test-pkg.yaml
    secrets: inherit
    with:
      ref_name: ${{ needs.get-latest-tag.outputs.tag }}

  upload-pkg-and-dependency-source-code-to-release:
    needs:
      - get-latest-tag
      - build-and-test-finch-pkg
    uses: ./.github/workflows/upload-installer-to-release.yaml
    secrets: inherit
    with:
      ref_name: ${{ needs.get-latest-tag.outputs.tag }}
  
  build-and-test-finch-msi:
    needs: get-latest-tag
    uses: ./.github/workflows/build-and-test-msi.yaml
    secrets: inherit
    with:
      ref_name: ${{ needs.get-latest-tag.outputs.tag }}
  
  upload-msi-to-release:
    needs:
      - get-latest-tag
      - build-and-test-finch-msi
    uses: ./.github/workflows/upload-msi-to-release.yaml
    secrets: inherit
    with:
      ref_name: ${{ needs.get-latest-tag.outputs.tag }}

  build-and-test-finch-deb:
    needs: get-latest-tag
    strategy:
      fail-fast: false
      matrix:
        arch: ['x86_64', 'arm64']
        include:
          - arch: 'x86_64'
            output-arch: 'amd64'
          - arch: 'arm64'
            output-arch: 'arm64'
    uses: ./.github/workflows/build-and-test-deb.yaml
    secrets: inherit
    with:
      ref_name: ${{ needs.get-latest-tag.outputs.tag }}
      arch: ${{ matrix.arch }}
      output-arch: ${{ matrix.output-arch }}
  
  upload-deb-to-release:
    needs:
      - get-latest-tag
      - build-and-test-finch-deb
    uses: ./.github/workflows/upload-deb-to-release.yaml
    secrets: inherit
    with:
      ref_name: ${{ needs.get-latest-tag.outputs.tag }}
    
  update-latest-version-in-s3:
    needs: 
      - get-latest-tag
      - upload-pkg-and-dependency-source-code-to-release
      - upload-msi-to-release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@b47578312673ae6fa5b5096b330d9fbac3d116df # v4.2.1
        with:
          role-to-assume: ${{ secrets.ROLE }}
          role-session-name: update-latest-version-in-s3
          aws-region: ${{ secrets.REGION }}
          
      - name: Update latest version in S3
        run: |
          # Create latest-version.json with the latest Finch release version to track updates
          cat > latest-version.json << EOF
          {
            "latest_version": "${{ needs.get-latest-tag.outputs.tag }}"
          }
          EOF
          
          # Upload to S3
          aws s3 cp latest-version.json s3://${{ secrets.ARTIFACT_BUCKET_NAME }}/manifest/latest-version.json --content-type "application/json"
