name: Upload build to s3

on:
  workflow_dispatch:
env:
  GO111MODULE: on
  GO_VERSION: '1.24.11'

permissions:
  # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
  # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
  id-token: write
  contents: read    # This is required for actions/checkout

jobs:
  macos-aarch64-build:
    runs-on: [self-hosted, macos, arm64, 14, release]
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
          submodules: true
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
      - name: Make macos aarch64 build
        run: |
          brew install lz4 automake autoconf libtool yq
          make clean
          make download-licenses 
          make FINCH_OS_IMAGE_LOCATION_ROOT=/Applications/Finch
          tar -zcvf finch.${GITHUB_REF_NAME}.aarch64.tar.gz _output
        shell: zsh {0}

      - name: Upload macos aarch64 build
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: finch.macos-aarch64
          path: finch.*.aarch64.tar.gz
          if-no-files-found: error

  macos-x86_64-build:
    runs-on: [self-hosted, macos, amd64, 14, release]
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
          submodules: true
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
      - name: Make macos x86_64 build
        run: |
          brew install lz4 automake autoconf libtool yq
          make clean
          make download-licenses 
          make FINCH_OS_IMAGE_LOCATION_ROOT=/Applications/Finch
          tar -zcvf finch.${GITHUB_REF_NAME}.x86_64.tar.gz _output
        shell: zsh {0}

      - name: Upload macos x86_64 build
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: finch.macos-x86_64
          path: finch.*.x86_64.tar.gz
          if-no-files-found: error

  release:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs:
      - macos-x86_64-build
      - macos-aarch64-build
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: ${{ secrets.ROLE }}
          role-session-name: dependency-upload-session
          aws-region: ${{ secrets.REGION }}

      - name: Download macos aarch64 build
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: finch.macos-aarch64
          path: build

      - name: Download macos x86_64 build
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          name: finch.macos-x86_64
          path: build
      # TODO: Change destination bucket after creating automation for signing.
      - name: "Upload to S3"
        run: |
          aws s3 cp ./build/ s3://${{ secrets.DEPENDENCY_BUCKET_NAME }}/aarch64/ --recursive --exclude "*" --include "finch.${GITHUB_REF_NAME}.aarch64.tar.gz"
          aws s3 cp ./build/ s3://${{ secrets.DEPENDENCY_BUCKET_NAME }}/x86-64/ --recursive --exclude "*" --include "finch.${GITHUB_REF_NAME}.x86_64.tar.gz"
