name: Upload build to s3

on:
  workflow_dispatch:
env:
  GO111MODULE: on

permissions:
  # This is required for configure-aws-credentials to request an OIDC JWT ID token to access AWS resources later on.
  # More info: https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
  id-token: write
  contents: read    # This is required for actions/checkout

jobs:
  macos-aarch64-build:
    runs-on: [self-hosted, macos, arm64, 11, release]
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          fetch-depth: 0
          persist-credentials: false
          submodules: true
      - uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Make macos aarch64 build
        run: |
          brew install go lz4 automake autoconf libtool
          make clean
          make download-licenses 
          make FINCH_OS_IMAGE_LOCATION_ROOT=/Applications/Finch
          tar -zcvf finch.${GITHUB_REF_NAME}.aarch64.tar.gz _output
        shell: zsh {0}

      - name: Upload macos aarch64 build
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
        with:
          name: finch.macos-aarch64
          path: finch.*.aarch64.tar.gz
          if-no-files-found: error

  macos-x86_64-build:
    runs-on: [self-hosted, macos, amd64, 11, release]
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          fetch-depth: 0
          persist-credentials: false
          submodules: true
      - uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version-file: go.mod
          cache: true

      - name: Make macos x86_64 build
        run: |
          brew install go lz4 automake autoconf libtool
          make clean
          make download-licenses 
          make FINCH_OS_IMAGE_LOCATION_ROOT=/Applications/Finch
          tar -zcvf finch.${GITHUB_REF_NAME}.x86_64.tar.gz _output
        shell: zsh {0}

      - name: Upload macos x86_64 build
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
        with:
          name: finch.macos-x86_64
          path: finch.*.x86_64.tar.gz
          if-no-files-found: error

  release:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs:
      - macos-x86_64-build
      - macos-aarch64-build
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@010d0da01d0b5a38af31e9c3470dbfdabdecca3a # v4.0.1
        with:
          role-to-assume: ${{ secrets.ROLE }}
          role-session-name: dependency-upload-session
          aws-region: ${{ secrets.REGION }}

      - name: Download macos aarch64 build
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          name: finch.macos-aarch64
          path: build

      - name: Download macos x86_64 build
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          name: finch.macos-x86_64
          path: build
      # TODO: Change destination bucket after creating automation for signing.
      - name: "Upload to S3"
        run: |
          aws s3 cp ./build/ s3://${{ secrets.DEPENDENCY_BUCKET_NAME }}/aarch64/ --recursive --exclude "*" --include "finch.${GITHUB_REF_NAME}.aarch64.tar.gz"
          aws s3 cp ./build/ s3://${{ secrets.DEPENDENCY_BUCKET_NAME }}/x86-64/ --recursive --exclude "*" --include "finch.${GITHUB_REF_NAME}.x86_64.tar.gz"