name: Upload installer
on:
  workflow_dispatch: # Trigger this workflow from tag
  workflow_call:
    inputs:
      ref_name:
        required: true
        type: string

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: write   # This is required for uploading the release assets
jobs:
  get-tag-name:
    name: Get tag name
    runs-on: ubuntu-latest
    timeout-minutes: 2
    outputs:
      tag: ${{ steps.check-tag.outputs.tag }}
    steps:
      - name: Check tag from workflow input and github ref
        id: check-tag
        run: |
          if [ -n "${{ inputs.ref_name }}" ]; then
            tag=${{ inputs.ref_name }}
          else
            tag=${{ github.ref_name }}
          fi
          echo "tag=$tag" >> ${GITHUB_OUTPUT}

  upload-installers:
    needs: get-tag-name
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@b47578312673ae6fa5b5096b330d9fbac3d116df # v4.2.1
        with:
          role-to-assume: ${{ secrets.ROLE }}
          role-session-name: download-installer-session
          aws-region: ${{ secrets.REGION }}
      - name: Download installers and dependency source code
        run: |
          aws s3 cp s3://${{ secrets.INSTALLER_PRIVATE_BUCKET_NAME }}/Finch-${{ needs.get-tag-name.outputs.tag }}-aarch64.pkg Finch-${{ needs.get-tag-name.outputs.tag }}-aarch64.pkg
          aws s3 cp s3://${{ secrets.INSTALLER_PRIVATE_BUCKET_NAME }}/Finch-${{ needs.get-tag-name.outputs.tag }}-x86_64.pkg Finch-${{ needs.get-tag-name.outputs.tag }}-x86_64.pkg
          aws s3 cp s3://${{ secrets.DEPENDENCY_BUCKET_NAME }}/dependency-sources.tar.gz DependenciesSourceCode.tar.gz
      - name: Upload installers and dependency source code to release
        uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v0.1.15
        with:
          tag_name: ${{ needs.get-tag-name.outputs.tag }}
          files: |
            Finch-${{ needs.get-tag-name.outputs.tag }}-aarch64.pkg
            Finch-${{ needs.get-tag-name.outputs.tag }}-x86_64.pkg
            DependenciesSourceCode.tar.gz
      - name: Delete installers and dependency source code
        run: rm -rf Finch-${{ needs.get-tag-name.outputs.tag }}-aarch64.pkg Finch-${{ needs.get-tag-name.outputs.tag }}-x86_64.pkg DependenciesSourceCode.tar.gz
